.header {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #cb4f4f;
    padding: 30px; /* Thickness of header padding */
    box-shadow: 0 3px 4px #cb10101a;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    text-align: left;
}

.login {
    position: fixed;
    right: 400px;
    top: 35px;
    background-color: grey;
    color: black;
    border: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.signup {
    position: fixed;
    right: 200px;
    top: 35px;
    background-color: white;
    color: black;
    border: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
